:host {
  table {
    width: 300px;

    th, td {
      text-align: left;
      width: 50%;
      padding: 5px 5px 5px 5px;
    }

    td {
      line-height: 20px;
    }

    thead {
      border-bottom: 1px solid lightgrey;
    }

    border-collapse: collapse;
  }
  
  .cell-right-icon {
    position: relative;
    padding-right: 30px;

    &:hover {
      button {
        opacity: 1;
      }
    }

    button {
      opacity: 0.2;
    }
  }
}
