language: node_js
cache: npm
notifications:
  email: false
addons:
  chrome: stable
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
addons:
apt:
install:
  - npm install
script:
  - npm run lint && npm run test-ci && npm run build
  - npm run build:docs
  - ls
node_js:
  - '10'
after_success:
  - npm run send-coverage
  - npm run travis-deploy-once "cd dist && ../node_modules/.bin/semantic-release"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GH_TOKEN
  keep-history: true
  local-dir: ./dist-docs
  on:
    branch: master
