iw-form-control {
    display: block;
    border: 1px solid lightgrey;
    padding: 15px 5px;
    position: relative;

    &:hover {
        border-color: black;
    }

    &.iw-form-control--invalid {
        border-color: red;
    }
}

iw-form-control label {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: white;
    padding: 2px;
}