<docs-component-documentation
  [componentTitle]="'Tooltip'"
  [componentId]="'TooltipDirective'"
  [componentType]="'directives'"
>
  <ng-template docsComponentExample="Simple example">
    <app-tooltip-demo-example1></app-tooltip-demo-example1>
    <docs-tabs>
      <docs-code *docsTab="'HTML'" path="tooltip-demo-example1.component.html"></docs-code>
    </docs-tabs>
  </ng-template>
  <ng-template docsComponentExample="Horizontal">
    <app-tooltip-demo-example2></app-tooltip-demo-example2>
    <docs-tabs>
      <docs-code *docsTab="'HTML'" path="tooltip-demo-example2.component.html"></docs-code>
    </docs-tabs>
  </ng-template>
  <ng-template docsComponentExample="Delay">
    <app-tooltip-demo-example3></app-tooltip-demo-example3>
    <docs-tabs>
      <docs-code *docsTab="'HTML'" path="tooltip-demo-example3.component.html"></docs-code>
    </docs-tabs>
  </ng-template>
</docs-component-documentation>
