$inner-padding: 50px;

iw-tooltip-container {
  z-index: 6;
  position: absolute;
  display: block;
  padding: $inner-padding;

  .tooltip-container__content {
    border-radius: 3px;
    color: white;
    padding: 5px;
    background: black;    
  }

  &:after {
    left: 50%;
    border: $inner-padding solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-left: -$inner-padding;
  }

  &.iw-tooltip-container--bottom:after {
    bottom: calc(100% - #{$inner-padding});
    border-bottom-color: black;
  }

  &.iw-tooltip-container--top:after {
    top: calc(100% - #{$inner-padding});
    border-top-color: black;
  }
}
