<h3>Programmatic way</h3>

<p>
  You can embed any of your components inside a popover. This can be very helpful to keep your templates light as well as refactoring.
  To do so, declare the component class you want to embed as an entry component of your module.
</p>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <!-- CODESAMPLE POPOVER#EXAMPLE_2_HTML -->
    <ng-template ngFor [ngForOf]="persons" let-person [ngForTrackBy]="trackBy">
      <tr>
        <td class="cell-right-icon">
          {{person.first}}
          <button (click)="openEditFirstNamePopover(person, $event)">&#x270E;</button>
        </td>
        <td class="cell-right-icon">
          {{person.last}}
          <button (click)="openEditLastNamePopover(person, $event)">&#x270E;</button>          
        </td>
      </tr>
    </ng-template>
    <!-- _CODESAMPLE-->
  </tbody>
</table>

<h4>Typescript</h4>
<code>{{ 'POPOVER#EXAMPLE_2_TS' | codeSample }}</code>

<h4>HTML</h4>
<code>{{ 'POPOVER#EXAMPLE_2_HTML' | codeSample }}</code>
