iw-stateful-button {
  display: inline-block;
}

iw-stateful-button:not(.stateful-button--idle) sb-label-idle {
  opacity: 0;
}

iw-stateful-button:not(.stateful-button--failure) sb-label-failure {
  opacity: 0;
}

iw-stateful-button:not(.stateful-button--doing) sb-label-doing {
  opacity: 0;
}

iw-stateful-button:not(.stateful-button--success) sb-label-success {
  opacity: 0;
}

iw-stateful-button button {
  height: 30px;
  line-height: 30px;
  padding: 5px;
}

iw-stateful-button sb-label-idle, iw-stateful-button sb-label-doing, iw-stateful-button sb-label-success, iw-stateful-button sb-label-failure {
  height: 20px;
  line-height: 20px;
  margin-top: -20px;
  text-align: center;
  display: block;
}

iw-stateful-button sb-label-idle {
  margin-top: 0;
}

iw-stateful-button.stateful-button--doing button {
  background-color: grey;
  color: white;
  cursor: wait;
}

iw-stateful-button.stateful-button--success button {
  background-color: #2ECC40;
  color: white;
}

iw-stateful-button.stateful-button--failure button {
  background-color: red;
  color: white;
}

iw-stateful-button sb-label-doing::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0px 5px -3px 0px;
  border-radius: 8px;
  box-shadow: 0 1px 0 0 white;
  -ms-animation: stateful-button--animation 1s linear infinite;
  -moz-animation: stateful-button--animation 1s linear infinite;
  -webkit-animation: stateful-button--animation 1s linear infinite;
  -o-animation: stateful-button--animation 1s linear infinite;
  animation: stateful-button--animation 1s linear infinite;
  z-index: 1;
}

@-moz-keyframes stateful-button--animation {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes stateful-button--animation {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes stateful-button--animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes stateful-button--animation {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes stateful-button--animation {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}