<h1> Popover </h1>

<div class="cell" *ngFor="let truc of trucs">
  <button [iwPopover]="myPopoverTemplate"
    [isOpen]="truc.isOpen"
    (shouldClose)="truc.isOpen = false"
    [popoverClass]="'popover-demo'"
    (click)="truc.isOpen = !truc.isOpen">I open/close a popover</button>

  <input [(ngModel)]="myText" type="text"/>

  <template #myPopoverTemplate>
    <app-custom-popover-demo (close)="truc.isOpen = false">
      Context: <input [(ngModel)]="myText" type="text"/>
    </app-custom-popover-demo>
  </template>
</div>