<h1> Popover </h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons;">
      <td class="cell-right-icon" [iwPopover]="editFirstTemplate"
        [isOpen]="editedPerson === person && editedField === 'first'"
        (shouldClose)="editedPerson = null"
        [popoverClass]="'popover-demo'">

        {{person.first}}

        <button (click)="editedPerson = person; editedField = 'first'">&#x270E;</button>
      </td>
      <td class="cell-right-icon" [iwPopover]="editLastTemplate"
        [isOpen]="editedPerson === person && editedField === 'last'"
        (shouldClose)="editedPerson = null"
        [popoverClass]="'popover-demo'">{{person.last}}

        <button (click)="editedPerson = person; editedField = 'last'">&#x270E;</button>          
      </td>
    </tr>
  </tbody>
</table>

<template #editFirstTemplate>
  <app-custom-popover-demo (close)="editedPerson = null">
    <app-custom-popover-header>Edit</app-custom-popover-header>
    <app-custom-popover-content>
      First: <input autofocus autocomplete="false" [(ngModel)]="editedPerson.first" type="text"/>    
    </app-custom-popover-content>
  </app-custom-popover-demo>
</template>

<template #editLastTemplate>
  <app-custom-popover-demo (close)="editedPerson = null">
    Last: <input autofocus autocomplete="false" [(ngModel)]="editedPerson.last" type="text"/>
  </app-custom-popover-demo>
</template>
