<h1> Popover </h1>

<h2>Popover declarative logic</h2>

<p>The popover will appear on this element!
  <ng-template iwPopover 
    [isOpen]="isPopoverOpen3"
    arrowClass="popover-no-arrow"
    (shouldClose)="isPopoverOpen3 = false">
    Helloooo
  </ng-template>
</p>
<hr/>
<button (click)="isPopoverOpen3 = true" id="pop1">
  Click to open!
</button>

<h2>Click outside to close: No, Esc to close: No</h2>

<button (click)="isPopoverOpen2 = true" id="pop2">
  Click to open!

  <ng-template iwPopover 
    [isOpen]="isPopoverOpen2"
    [clickOutsideToClose]="false"
    [escToClose]="false"
    popoverClass="popover-demo"
    (shouldClose)="isPopoverOpen2 = false">
    <app-custom-popover-demo (close)="isPopoverOpen2 = false">
      <div custom-popover-header>Popover</div>
      <div appCustomPopoverContent>    
        Click, or Esc, I won't close!
      </div>
    </app-custom-popover-demo>
  </ng-template>
</button>

<h2>Declarative way</h2>

<button (click)="isPopoverOpen = true">
  Click to open!

  <ng-template iwPopover 
    [isOpen]="isPopoverOpen"
    popoverClass="popover-demo"
    (shouldClose)="isPopoverOpen = false">
    <app-custom-popover-demo (close)="isPopoverOpen = false">
      <div custom-popover-header>Popover</div>
      <div custom-popover-content>    
        Hello World! I'm popping over!
      </div>
    </app-custom-popover-demo>
  </ng-template>
</button>

<h2>Horizontal</h2>

<button (click)="isPopoverOpen5 = true">
  Click to open!

  <ng-template iwPopover 
    [horizontal]="true"
    [isOpen]="isPopoverOpen5"
    popoverClass="popover-demo"
    (shouldClose)="isPopoverOpen5 = false">
    <app-custom-popover-demo (close)="isPopoverOpen5 = false">
      <div custom-popover-header>Popover</div>
      <div custom-popover-content>    
        On the left/right!
      </div>
    </app-custom-popover-demo>
  </ng-template>
</button>

<h2>ExpressionChangedAfterItHasBeenCheckedError

  <ng-template iwPopover 
    [isOpen]="isPopoverOpen4"
    (shouldClose)="isPopoverOpen4 = false">
    {{isPopoverOpen4}}
  </ng-template>
</h2>

<button (click)="isPopoverOpen4 = true" id="ExpressionChangedAfterItHasBeenCheckedErrorButton">
  Click to open!
</button>

<h2>Programmatic way</h2>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor [ngForOf]="persons" let-person [ngForTrackBy]="trackBy">
      <tr>
        <td class="cell-right-icon">
          {{person.first}}
          <button (click)="openEditFirstNamePopover(person, $event)">&#x270E;</button>
        </td>
        <td class="cell-right-icon">
          {{person.last}}
          <button (click)="openEditLastNamePopover(person, $event)">&#x270E;</button>          
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>



