<aside>
  <ul>
    <li><a routerLink="/"
      [routerLinkActiveOptions]="{exact: true}" 
      routerLinkActive="active-link">
      Get Started
    </a></li>
    <li><a routerLinkActive="active-link" routerLink="/popover">Popover</a></li>
    <li><a routerLinkActive="active-link" routerLink="/tooltip">Tooltip</a></li>
    <li><a routerLinkActive="active-link" routerLink="/stateful-button">Stateful Button</a></li>
    <li><a routerLinkActive="active-link" routerLink="/dialog">Dialog</a></li>
  </ul>
</aside>

<main>
  <router-outlet></router-outlet>
</main>