<aside [class.closed]="isClosed">
  <iw-tree #treeComponent class="routes-menu" [tree]="tree">
    <ng-template iwTreeNodeTemplate let-node let-depth="depth">
      <a [routerLink]="node.data.routerLink"
        [ngStyle]="linkStyle(depth)"
        [routerLinkActiveOptions]="{ exact: true }"
        [queryParams]="node.data.queryParams"
        [queryParamsHandling]="'merge'"
        [routerLinkActive]="'active-link'"
        [iwTreeItem]="node">
        {{node.data.label}}
      </a>
    </ng-template>
  </iw-tree>

  <button (click)="isClosed = !isClosed">Toggle</button>
</aside>

<main>
  <router-outlet></router-outlet>
</main>