<h1> Tooltip </h1>

<button (click)="value = value + 1">
  Increment
  <ng-template iwTooltip>
    Click to go from {{value}} to {{value+1}}
  </ng-template>
</button>

<button *ngIf="value > 0" (click)="value = 0">
  Reset
  <ng-template iwTooltip>
    Reset to 0
  </ng-template>
</button>

<button *ngFor="let t of [1,2,3]" (click)="value = t">
  Set to {{t}}
  <ng-template iwTooltip>
    Set to {{t}}
  </ng-template>
</button>

<h2>Custom class</h2>
<button>
  Custom class
  <ng-template iwTooltip containerClass="custom-tooltip-container">
    Set to {{t}}
  </ng-template>
</button>

<h2>Horizontal</h2>
<button>
  horizontal
  <ng-template iwTooltip containerClass="custom-tooltip-container" [horizontal]="true">
    horizontal
  </ng-template>
</button>

<h2>Delay (1 sec)</h2>
<button>
  delay
  <ng-template iwTooltip containerClass="custom-tooltip-container" [delay]="1000">
    delay
  </ng-template>
</button>