iw-multi-select
  display: block
  position: relative

  input
    appearance: none
    border: none
    outline: none

  .iw-select__selection-list
    display: inline
    margin: 0
    padding: 0
    list-style: none

  .iw-select__selection-list__item
    display: inline-block
    background: black
    color: white
    padding: 0.2em
    outline: none

    &:focus
      background: darkgrey
  
  .iw-select__options-list
    position: absolute
    top: 100%
    left: 0
    width: 100%
    z-index: 10
    max-height: 200px
    overflow: auto
    list-style: none
    padding: 0
    margin: 0
    border 1px solid black

  .iw-select__options-list__item
    cursor: pointer

    &.active
      background: black
      color: white
  
    &:not(.active):hover
      background: lightgrey
      border-color: lightgrey

  &>.form-control
    height: auto !important
  
  [appMultiSelectItem]
    display: inline-block
    border: 1px solid lightgrey
    padding: 0.2em
    border-radius: 4px
    margin-bottom: 0.2em
    cursor: pointer

    &:focus
      background: blue
      border-color: blue
      color: white
