<ul class="iw-select__selection-list">
  <ng-template ngFor [ngForOf]="selection | async" let-item>
    <li class="iw-select__selection-list__item"
      iwMultiSelectItem
      [attr.tabindex]="-1"
      iwLeftRightNavigation
      (delete)="onDelete(item)"
      (left)="onLeft(item)"
      (right)="onRight(item)">
      <ng-template [ngIf]="selectedItemTemplate">
        <ng-container *ngTemplateOutlet="selectedItemTemplate; context: getSelectedItemContext(item)"></ng-container>            
      </ng-template>
      <ng-template [ngIf]="!selectedItemTemplate">
        <span (click)="onDelete(item)" [attr.tabIndex]="-1">x</span> {{item.label}}
      </ng-template>            
    </li>
  </ng-template>
</ul>

<input type="text" [ngModel]="search | async"
  (ngModelChange)="onSearchChange($event)"
  iwSelectSearchInput
  (back)="onBack()"
  iwSelectHighlightCtrl
  (up)="onUp()"
  (down)="onDown()"
  (enter)="onEnter()"
  (focus)="onFocus()"
  (blur)="onBlur()"
  [placeholder]="placeholder"
/>

<ng-template [ngIf]="displayOptions | async">
  <ul class="iw-select__options-list" iwSelectOptionList>
    <ng-template ngFor [ngForOf]="optionsToShow | async" let-option>
      <li class="iw-select__options-list__item"
        [iwSelectOptionListItem]="option"
        highlightedClass="active"
        (focus)="select(option)">
        <ng-template [ngIf]="!optionListItemTemplate">
          {{option.label}}
        </ng-template>
        <ng-template [ngIf]="optionListItemTemplate">
          <ng-container *ngTemplateOutlet="optionListItemTemplate; context: getOptionItemTemplateContext(option)"></ng-container>
        </ng-template>
      </li>
    </ng-template>
  </ul>
</ng-template>