<docs-component-documentation
  [componentTitle]="'Dialog'"
  [componentId]="'DialogDirective'"
  [componentType]="'directives'"
>
  <ng-template docsComponentExample="From the template">
    <app-dialog-example1></app-dialog-example1>
    <docs-tabs>
      <docs-code *docsTab="'HTML'" path="dialog-example1.component.html"></docs-code>
    </docs-tabs>
  </ng-template>
  <ng-template docsComponentExample="Using the dialog service">
    <app-dialog-example2></app-dialog-example2>
    <docs-tabs>
      <docs-code *docsTab="'TS'" path="dialog-example2.component.ts"></docs-code>
    </docs-tabs>
  </ng-template>
</docs-component-documentation>
