<app-component-documentation
  [componentTitle]="'Dialog'"
  [componentId]="'DialogDirective'"
  [componentType]="'directives'"
>
  <ng-template appComponentExample="Simple example" [source]="example1">
    <app-dialog-example1></app-dialog-example1>
  </ng-template>
</app-component-documentation>

<h2>Embed a component into a dialog</h2>
<button (click)="openDialog()">Embed a component</button>
<code>{{ 'DIALOG#EXAMPLE_1' | codeSample }}</code>

<h2>Declarative way</h2>
<!-- CODESAMPLE DIALOG#EXAMPLE_2 -->

<!-- _CODESAMPLE -->

<code>{{ 'DIALOG#EXAMPLE_2' | codeSample }}</code>

<h2>Basic Styles</h2>
<code>{{styleCode}}</code>
