/* You can add global styles to this file, and also import other style files */

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  outline: none;
  color: white;
  
  &:visited, &:focus, &:hover {
    color: white;
  }

  &:hover {
    text-decoration: none;
  }
}

iw-popover-container.popover-demo {
  background: transparent;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.2s;
  border: none;

  &.iw-popover-container--visible {
    opacity: 1;
  }
}

.iw-popover-arrow-element {
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  z-index: 3;

  &.from-the-bottom {
    transform: rotateZ(-45deg) translate(-7px, 0px);
    background-color: lightgrey;
  }

  &.from-the-top {
    transform: translate(-5px, -15px) rotateZ(135deg);
    background-color: white;
    box-shadow: 4px -4px 6px -1px #7b7b7b;
  }

  &.from-the-left {
    background-color: white;
    box-shadow: 4px -4px 6px -1px #7b7b7b;
    transform: translate(-15px, -5px) rotate(45deg);
  }

  &.from-the-right {
    background-color: white;
    box-shadow: 4px -4px 6px -1px #7b7b7b;
    transform: translate(5px, -5px) rotate(-135deg)
  }
}

.popover-simple-demo {
  background: lightgrey;
  padding: 10px;
  box-shadow: 2px 2px 2px 0px #7b7b7b;
}

.popover-no-arrow {
  display: none;
}

iw-dialog-container.dialog-config-demo {
  border: dashed 1px red;
}

iw-dialog-container.double-config-demo {
  transform: scale(0.5);
}

iw-tooltip-container.demo-tooltip {
  font-size: 8px;

  .tooltip-container__content {
    background: red;
  }

  &.iw-tooltip-container--bottom:after {
    border-bottom-color: red;
  }

  &.iw-tooltip-container--top:after {
    border-bottom-color: red;
  }
}
