/* You can add global styles to this file, and also import other style files */

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: Monaco;
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  outline: none;
  color: white;
  
  &:visited, &:focus, &:hover {
    color: white;
  }

  &:hover {
    text-decoration: none;
  }
}

iw-popover-container.popover-demo {
  background: transparent;
  padding: 5px 0px;
  opacity: 0;
  transition: opacity 0.2s;

  &.iw-popover-container--visible {
    opacity: 1;
  }
}

iw-tooltip-container {
  background: black;
  font-size: 10px;
  color: white;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 5px 0px;
}