/* You can add global styles to this file, and also import other style files */

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: Monaco;
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  outline: none;
  color: white;
  
  &:visited, &:focus, &:hover {
    color: white;
  }

  &:hover {
    text-decoration: none;
  }
}

iw-popover-container.popover-demo {
  background: transparent;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.2s;
  
  &.iw-popover-container--visible {
    opacity: 1;
  }
}

iw-tooltip-container {
  background: black;
  font-size: 10px;
  color: white;
  padding: 3px 5px;
  border-radius: 3px;
}

.iw-popover-arrow-element {
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  z-index: 3;

  &.from-the-bottom {
    transform: rotateZ(-45deg) translate(-7px, 0px);
    background-color: lightgrey;
  }

  &.from-the-top {
    transform: translate(-5px, -15px) rotateZ(135deg);
    background-color: white;
    box-shadow: 4px -4px 6px -1px #7b7b7b;
  }
}

iw-dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background: rgba(192, 192, 192, 0.67);
  transition: opacity 0.5s;

  .dialog-container__content {
    position: absolute;
    top: 100px;
    left: 20%;
    width: 60%;
    background: white;
    max-height: calc(100% - 200px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s;
    transform: translateY(-100%);
    box-shadow: 2px 2px 4px 1px gray;
  }

  &.iw-dialog-container--visible {
    opacity: 1;
    .dialog-container__content {
      transform: translateY(0);
    }
  }
}

.popover-simple-demo {
  background: lightgrey;
  padding: 10px;
  box-shadow: 2px 2px 2px 0px #7b7b7b;
}

.popover-no-arrow {
  display: none;
}
