<docs-component-documentation
  [componentTitle]="'Navigation'"
  [componentId]="'NavigationComponent'"
  [componentType]="'components'"
>
  <ng-template docsComponentExample="Example">
    <app-navigation-example1></app-navigation-example1>
    <docs-tabs>
      <docs-code *docsTab="'Main TS'" path="navigation-example1.component.ts"></docs-code>
      <docs-code *docsTab="'Nested TS #1'" path="navigation-example1-nested2.component.ts"></docs-code>
      <docs-code *docsTab="'Nested TS #2'" path="navigation-example1-nested3.component.ts"></docs-code>
    </docs-tabs>
  </ng-template>
</docs-component-documentation>
